@tailwind base;
  @tailwind components;
  @tailwind utilities;
  *{
    transform-origin: center;
  }
  .splitting{
    transform-origin: center;
    animation: animName 20s linear infinite;

  }
  @keyframes animName {
    0%{
       transform: rotate(0deg);
      }
   100%{
       transform: rotate(360deg);
      }
   }
  .vertical-rl{
    writing-mode: vertical-rl;
    text-orientation: sideways;
  }